<form id="login" class="" method="POST">
	<input type="email" name="email" placeholder="Pon tu email">
	<br><br>
	<input type="password" name="password" value="" placeholder="Tu contraseña">
	<input type="submit" name="Login">
</form>

<script type="text/javascript">
	const formLogin = document.querySelector('#login')

	formLogin.addEventListener('submit', event => {
	  	event.preventDefault();
		const formData = new FormData(formLogin)	
	  	let object = {};
	  	formData.forEach(function(value, key){
	    	object[key] = value;
	  	});
	  	let json = JSON.stringify(object);
	  	fetch('/api/signin', {
	    	method: 'POST',
	    	headers: {
	    	    'Accept': 'application/json, text/plain, */*',
	    	    'Content-Type': 'application/json'
	    	},
	    	body: json
	  	})
	  	.then(res => res.json())
	  	.then(data => {	  	
	    	localStorage.setItem('token', data.token)
	  	})
	})
</script>